<!-- templates/cronjob_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CronJob: {{ object_name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">CronJob: {{ object_name }}</h1>
        <h2>Details</h2>
        <pre class="border p-3 bg-light">{{ object_details | tojson(indent=2) }}</pre>
        <a href="/" class="btn btn-primary">Back to Dashboard</a>
    </div>
</body>
</html>